.faq_container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-family: siruca,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top:100px;
}

h1 {
    font-size: 80px;
    color: #FF914C;
    margin: 40px 0px;
}

.faq_separator {
    border-top: 2px solid black;
    width: 20%;
    left: 0;
    position: absolute;
}

.faq_main{
    margin-top: 100px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    text-align: center;
}

.faq_main ul li {
    margin-bottom: 30px;
}

.faq_add {
    margin-right: 10%;
    width: 25px;
    vertical-align: middle;
}

.sticky_bar {
    display: none;
}

#faq_comment{
    display:block;
    width: 500px;
    margin: 0 auto;
    text-align: justify;
    padding-left: 110px;

}

@media screen and ( max-width : 1024px ) {
    .faq_container {
        width: 95%;
    }

    h1 {
        font-size: 60px;
    }

    .faq_main {
        width: 95%;
    }

    .faq_separator {
        width: 30%;
    }

    ul li {
        font-size: 20px;
    }

    .sticky_bar {
        display: block;
        position: fixed;
        width: 100%;
        background-color: #2F2C36;
        text-align: center;
        z-index: 20;
        bottom: 0;
        padding: 10px 0px;
    }

    .sticky_bar p {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
    }

    .sticky_bar_align {
        background-color: #FF914C;
        width: 80%;
        border-radius: 50px;
        margin: auto;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

