/* Links */

a:hover, 
a:active,
a:visited,
a:link,
a:focus {
    text-decoration: none;
    color: #000;
}

.prices_container {
    font-family:'Roboto', sans-serif;
    position: relative;
    margin-top: 100px;
}
/* 1st page */

.prices_top {
    height: 100vh;
    text-align: center;
    position: relative;
    width: 100%;
}

.prices_top_text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%);
}

.prices_top_text h1 {
    font-family: siruca,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FF914C;
    font-size: 80px;

}
.prices_top_text p {
    margin-top: 40px;
    font-size: 19px;
}

.bold {
    font-weight: 800;
}

.prices_top_end {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.prices_top_end img {
    width: 30px;
    color: rgba(0, 0, 0, 0.11);
}

.prices_top_end p {
    animation: alternate;
    animation-duration: 0.4s;
    animation-name: slide-bottom;
    animation-iteration-count: 20;
}


@keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }

/* 2nd page */

/* Choix du tarif */

.prices_bottom {
    height: 100vh;
    background-color: #f6f6f6;
}  

.prices_bottom_wrap {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.prices_selection {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.prices_selection p:first-of-type {
    margin-right: 50px;
}

.prices_selection p {
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: 300;
}

.prices_selection p a:active {
    color: #FF914C;
}

.prices_selection p a {
    color: #FF914C !important;
}


.prices_separator {
    border-top: 2px solid black;
    position: relative;
}

/* Prix et description */

.prices_description {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.prices_0 {
    margin: 100px 0 50px 0;
    font-size: 80px;
    color: #FF914C;
    font-weight: 700;
}

.prices_0_description {
    margin-bottom: 50px;
    font-size: 25px;
}

.prices_description_explenation {
    text-align: left;
    margin-bottom: 40px;
    font-weight: 400;
}

.explenation {
    text-align: left;
    font-weight: 300;
    font-style: italic;
}


.explenation a {
    color: rgb(51, 122, 253);
    text-decoration: underline;
}

.price_button {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.price_button p {
    margin-top: 50px;
    background-color: #FF914C;
    border-radius: 50px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #fff;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}


/* Prix étudiant */

.prices_student {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    /* DISPLAY NONE */
    display: none;

}

.prices_student img {
    margin: 50px 0px 60px 0;
}

.student_desc {
    margin-bottom: 50px;
}

.mail {
    margin-bottom: 15px;
}

.student_button a p {
    background-color: #FF914C;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
    border-radius: 50px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}