/* Links */

a:hover, 
a:active,
a:visited,
a:link,
a:focus {
    text-decoration: none;
    color: #000;
}

/* Page entière  */

.resa_body {
    display: flex;
    width: 80%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
}


.resa_container {
    width: 65%;
}

.resa_logo {
    width: 35%;
    position: relative;
}

/* From */

h1 {
    font-size: 80px;
    color: #FF914C;
    margin: 30px 0px;
    font-family: siruca,sans-serif;
}

.resa_separator {
    border-top: 2px solid black;
    width: 20%;
    left: 0;
    position: absolute;
}

h3 {
    margin: 70px 0 20px 0;
    font-weight: 700;
}

.info_top {
    display: flex;
    justify-content: space-between;
}

.info_bottom,
.info_bottom div,
.info_top {
    margin-bottom: 20px;
}

.info_bottom p,
.info_top p {
    margin-bottom: 5px;
    font-size: 10px;
}

.info_top div {
    width: 100%;
}

.info_top input {
    width: 80%;
}

.info_bottom input {
    width: 90%;
}

.resa_logo img {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.info_top input,
.info_bottom input {
    height: 30px;
}

input {
    background-color: #FAFAFA;
    border: 1px rgba(0, 0, 0, 0.363) solid;
    border-radius: 3px;
}

::placeholder { 
    color: rgba(0, 0, 0, 0.301);
    opacity: 1; 
  }

.resa_button {
    margin-top: 30px;
    display: flex;
    
}

.resa_button a p {
    border: #FF914C 2px solid;
    background-color: #FF914C;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resa_button a p:hover {
    border: #FF914C 2px solid;
    background-color: rgba(0, 0, 0, 0);
    color: #000;
}

/* Mobile */ 


@media screen and ( max-width : 1024px ) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
        margin-right: auto;
        margin-left: auto;
    }
    
    .resa_body {
        width: 90%;
        display: block;
    }

    .resa_container {
        width: 100%;
    }
    
    .resa_logo {
        display: none;
        width: 0%;
    }
    
    h1 {
        font-size: 40px;
    }

    .info_top {
        display: block;
    }

    .info_top input,
    .info_bottom input {
        width: 95%;
        margin:0 0 8px 0px;
    }
    
    .info_bottom,
    .info_bottom div,
    .info_top {
        margin: 0;
    }

    .resa_button {
        margin-top: 15px;
        display: flex;
        flex-direction: row-reverse;
    }

    .resa_button a p {
        width: auto;
    }
}